:root {
    font-size: 16px;
}

.post, .page {
    margin-bottom: 0px;
}

.account-header, .account-info {
    height: 3rem;
    background-color: #0046be;
}

.logo-header {
    height: 6rem;
    background-color: #003da6;
}

.logo {
    height: 5rem;
}

.logo img {
    width: 75px;
    height: 75px;
}

#primary-menu li {
    line-height: 3rem !important;
    color: #fff;
    margin-right: 20px;
}

#primary-menu li a {
    color: #fff;
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

#primary-menu li a:visited {
    color: #fff;
}

.search {
    position: relative;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

input[type="search"] {
    height: 30px;
    border-radius: 0;
    color: #000;
    border: none;
    margin-bottom: 0;
}

input[type="image"] {
    height: 80%;
    position: absolute;
    right: 10px;
    margin-top: 4px;
}

.cart {
    height: 2.5rem;
    position: relative;
}

.cart-count {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff0006;
    border-radius: 50%;
    right: 80px;
    top: -5px;
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.category-header, .categories {
    height: 3.75rem;
    background-color: #fff;
}

#secondary-menu li a {
    color: #000;
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    line-height: 3.75rem !important;
}

#secondary-menu li a:visited {
    color: #000;
}

#secondary-menu li a {
    padding: 0.2rem !important;
}

.slider {
    height: 325px;
}

.weekly-deals {
    margin-top: 50px;
}

.weekly-deals .entry-title {
    margin-bottom: 50px;
}

.item-container {
    height: 490px;
    padding: 12px;
    margin-right: 20px;
}

.item-img {
    height: 200px;
}

.item-info {
    height: 260px;
}

.site-footer {
    height: 6rem;
    background-color: #003da6;
}

.site-info {
    margin: auto;
}

.site-info, .site-info .sep {
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    line-height: 6rem;
}

.red {
    background-color: red;
}

.darkgrey {
    background-color: grey;
}

.widget {
    margin: 0;
}

.signup-container {
    position: relative;
    width: 100%;
    height: 150px;
    border-top: 4px solid #0046be;
    border-bottom: 4px solid #0046be
}

.sign-up-text {
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
    /* text-align: left; */
    font-size: 1rem;
    margin-left: 50px;
    line-height: 150px !important;
}

.sign-up-text .signup {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    /* text-align: left; */
    font-size: 0.8rem;
    color: #003da6;
}

.email-container {
    width: 445px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    /* border: 1px solid #cccccc; */
}

.email {
    width: 325px;
    height: 40px;
    border: none;
    border-radius: 0px !important;
    padding: 20px !important;
    color: #000 !important;
    border: 1px solid #cccccc !important;
}

.email:focus {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #cccccc !important;
}

.submit {
    width: 120px;
    height: 42px;
    background-color: #003da6;
    color: #fff;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    cursor: pointer;
}

/* Styling Shop Page */

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color: #000;
}

.woocommerce ul.products li.product .price {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color: #003da6;
}

.woocommerce ul.products li.product .button {
    width: 180px;
    height: 50px;
    background-color: #003da6;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #fff;
    line-height: 50px;
    text-align: center;
    padding: 0;
}

.single-product .entry-title {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color: #000;
    text-align: left;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    width: 20%;
    margin-right: 20px;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
    opacity: 1;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #ff0006;
    font-size: 1.5rem;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.single-product form {
    display: block;
}

.woocommerce div.product form.cart div.quantity, .woocommerce div.product form.cart .button {
    float: none;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    width: 150px;
    height: 50px;
    background-color: #003da6;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #fff;
    line-height: 50px;
    padding: 0;
    border-radius: 0;
    text-align: center;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    background: #fff;
    /* border: 1px solid #003da6; */
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    color: #fff;
    background-color: #0046be;
}

input[type="number"] {
    /* border: 1px solid #000; */
    color: #000;
    border-radius: 0;
}

input[type="number"]:focus {
    box-shadow: none;
}

.tabs {
    border: none;
    background: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #003da6;
    padding-bottom: 5px;
    border-bottom: 1px solid #003da6;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #fff;
    border-radius: 0;
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-family: montserrat, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #000;
    font-size: 1rem;
    background-color: #fff;
}

a:focus {
    outline: none;
}

.woocommerce div.product .woocommerce-tabs .panel h2 {
    font-family: montserrat, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #003da6;
    font-size: 1.5rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #003da6;
}

.woocommerce table.shop_attributes {
    margin-top: 1.5rem;
}