:root {
    font-size: 16px;
}

.account-header, .account-info {
    height: 3rem;
    background-color: #0046be;
}

.logo-header {
    height: 6rem;
    background-color: #003da6;
}

.logo {
    height: 5rem;
}

.logo img {
    width: 75px;
    height: 75px;
}

#primary-menu li {
    line-height: 3rem;
    color: #fff;
}

#primary-menu li a {
    color: #fff;
}

#primary-menu li a:visited {
    color: #fff;
}

.search {
    position: relative;
}

#search {
    width: 100%;
    border: none;
    background-color: #fff;
    height: 1.8rem;
    border-radius: 0;
    color: #000;
    padding: 0;
}

#search-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

#search-icon img{
    margin-right: 15px;
    margin-top: 5px;
}

.cart {
    height: 2.5rem;
    position: relative;
}

.cart-count {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff0006;
    border-radius: 50%;
    right: 80px;
    top: -5px;
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.category-header, .categories {
    height: 3.75rem;
    background-color: #fff;
}

.site-footer {
    height: 6rem;
    background-color: #003da6;
}
