<<<<<<< HEAD
:root {
    font-size: 16px;
    }

.account-header, .account-info {
    height: 3rem;
}

.logo-header, .logo, .cart {
    height: 6rem;
}

.search {
    height: 1.8rem;
}

.category-header, .categories {
    height: 3.75rem;
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.paleblue {
    background-color: paleturquoise;
=======
.site-footer {
    height: 6rem;
}

.pink {
    background-color: pink;
>>>>>>> footer
}